ion-card {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
  
    ion-card-header {
      background-color: #007AFF; /* Header-Hintergrundfarbe */
      color: white; /* Header-Textfarbe */
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  
    ion-card-content {
      padding: 10px;
    }
  }
  