<ion-content class="ion-text-center">
  <ion-grid style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12" size-md="6">
        <ion-card (click)="selectOption('Anleitung')" class="custom-card">
          <ion-card-content>
            Anleitung
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12" size-md="6">
        <ion-card (click)="selectOption('Trockner aufstellen')" class="custom-card">
          <ion-card-content>
            Trockner aufstellen
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12" size-md="6">
        <ion-card (click)="selectOption('Trockner abholen')" class="custom-card">
          <ion-card-content>
            Trockner abholen
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12" size-md="6">
        <ion-card (click)="selectOption('Messprotokoll erstellen')" class="custom-card">
          <ion-card-content>
            Messprotokoll erstellen
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12" size-md="6">
        <ion-card (click)="selectOption('Einstellungen')" class="custom-card">
          <ion-card-content>
            Einstellungen
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

   
  </ion-grid>
</ion-content>
