.custom-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .custom-card-content {
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .custom-label {
    font-weight: bold;
  }
  
  .custom-sub-label {
    margin-left: 20px;
  }
  