<ion-content class="ion-content-custom">
  <div class="login-form">
    <ion-card>
      <ion-card-header>
        <img src="../../assets/logo/logo.png" alt="Ihr Logo" class="logo-in-card">
      </ion-card-header>
      <br>
      <br>
      <br>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Benutzername" [(ngModel)]="username" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Passwort" [(ngModel)]="password" clearInput></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-button expand="full" color="primary" (click)="login()">Login</ion-button>
      <ion-button expand="full" color="primary" (click)="NavigateToSignUp()">Registrieren</ion-button>
    </ion-card>
  </div>
</ion-content>
