<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-form">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Willkommen</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Benutzername" [(ngModel)]="username" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Passwort" [(ngModel)]="password" clearInput></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-button expand="full" color="primary" (click)="login()">Login</ion-button>
    </ion-card>
  </div>
</ion-content>