
.ion-content-custom {
  --background: #0e0d0d; /* Hintergrundfarbe des Inhalts anpassen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Passen Sie den Abstand zum Login-Bereich an */
}

.logo {
  max-width: 150px; /* Passen Sie die Breite des Logos an */
  max-height: 150px; /* Passen Sie die Höhe des Logos an */
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    ion-card {
      width: 100%;
      max-width: 400px;
  
      ion-card-title {
        font-size: 24px;
      }
  
      ion-list {
        ion-item {
          --ion-input-placeholder-color: var(--ion-color-medium);
          --ion-input-background-color: #f0f0f0;
          border-radius: 8px;
  
          ion-input {
            --padding-start: 16px;
            --padding-end: 16px;
          }
        }
      }
  
      ion-button {
        margin-top: 16px;
      }
    }
  }